*{
    font-family: 'Cormorant Garamond', serif;
    padding: 0;
    margin: 0;

}

/* nav styling */

.navBg{
    background-color: #C0C6B9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 101px;
}
.navBg .logo a{
    text-decoration: none;
   font-size: 50px;
   color: #49676E;
}

.navBg .cont ul{
    display: flex;
    gap: 45px;
    list-style: none;
}

.navBg .cont ul a{
    text-decoration: none;
    color: #49676E;
    font-size: 25px;
}



/* footer styling */

.footerBg{
    height: 186;
    background-color: #C0C6B9;
}

.footerBg .footerCont{
    height: 63;
}

.footerBg .footerCont ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 100px;
    font-size: 20px;
    color: #49676E;
}

.footerBg .footerCont ul a{
    text-decoration: none;
    color: #49676E;
}



/* contact section */
.footerBg .footerContact{
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerBg .footerContact ul{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #49676E;
}

.footerBg .footerContact ul a img{
    width: 20px;
    height: 15.91px;
}

/* copyright styling */
.footerBg .copyright{
    color: #49676E;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}
