
/* first image styling */
/* .heroSection { */
    /* width: 72.875rem; */
    /* height: 39rem; */
    /* margin: auto; */
    /* display: flex; */
    /* justify-content: center; */
/* } */
/* .heroSection img {
    margin: auto;
} */

/* second image styling */
/* .anotherSection {
    width: 72.875rem;
    height: 32.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: auto;
} */

/* .anotherSection img {
    max-width: 100%;
    max-height: 100%;
} */


/* write up section styling */

/* .meanSection{
    max-width: 72.875rem;
    max-height: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
} */

/* .meanSection h1{
    font-size: 35px;
    font-weight: lighter;
    text-align: center;
    color: #49676E;
    padding-bottom: 2rem;
} */
/* .meanSection p{
    max-width: 1043px;
    font-size: 20px;
    text-align: center;
    color: #49676eb1;
    padding-top: 3rem;
} */


/* subscribe styling */

/* .subscribeSec{
    width: 72.875rem;
    height: 348px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
} */

/* .subscribeSec h1{
    font-size: 35px;
    font-weight: lighter;
    text-align: center;
    color: #49676E;
    padding: 10rem 0 2rem 0;
} */

.subscribeSec h4{
    font-size: 18px;
    font-weight: lighter;
    color: #49676E;
    padding-bottom: 2rem;
}

.subscribeSec .form .emailBtn #emailInput{
border: none;
background-color: #EAE7DC;
border-radius: 10px;
padding: 20px;
width: 260px;
}
.subscribeSec .form .emailBtn #emailInput::placeholder {
    color: #49676E; 
    font-size: 18px; 
}
.subscribeSec .form .emailBtn button{
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
    background-color: #EAE7DC;
    font-size: 14px;
    color: #49676E;
}

.subscribeSec .form #message{
    border: none;
    background-color: #EAE7DC;
    border-radius: 10px;
    padding: 10px;
    width: 397px;
    height: 98px;
    margin-top: 30px;
    }
.subscribeSec .form #message::placeholder{
   color: #49676E;
   font-size: 18px;
   transform: translateY(-30px);
    }