* {
    font-family: "Cormorant Garamond", serif;
    padding: 0;
    margin: 0;
}

/* nav styling */

.navBg .cont li {
    position: relative;
}
.navBg .cont a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #49676e;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

.navBg .cont li:hover a::after,
.navBg .cont li.active a::after {
    transform: scaleX(1);
}

/* footer styling */

.footerBg {
    max-height: 100%;
    background-color: #c0c6b9;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 10rem;
}

.footerBg .footerCont {
    padding-top: 15px;
}

.footerBg .footerCont ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 100px;
    font-size: 20px;
    color: #49676e;
}

.footerBg .footerCont ul a {
    text-decoration: none;
    color: #49676e;
}

/* contact section */
.footerBg .footerContact {
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footerBg .footerContact ul {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #49676e;
}

.footerBg .footerContact ul a img {
    width: 20px;
}

/* copyright styling */
.footerBg .copyright {
    color: #49676e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
